{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block head %}

{% endblock %}

{% block body %}


<div id = 'firstContainer' class="container rounded shadow p-2 m-4 bg-light ">
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Some Stats</h3>
    </div> 
  </div>
  <div class="row">
    <div class="col">
      <div>
        <p class="pt-4 ps-4">Average Comment Length: &emsp;<strong>{{ avgStats[0] }} (Median: {{ avgStats[1] }})</strong></p>
      </div>
    </div>
    <div class="col-md-3 float-end">
      <canvas id="pieChart1" style="width:100%; max-width: 10em;"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      something
    </div>
    
      <div class="col-md-4 chartbox float-end">
        <canvas id="myChart" style="width:100%; max-width:500px"></canvas>
      </div>
    
  </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Import javascript functions (should be able to add to existing route)-->
<script type="text/javascript"
         src="{{ url_for('static', filename='dashb.js') }}"></script>

<script type=text/javascript>
    var dict = JSON.parse('{{  jsdict  | tojson | safe  }}')
    setupTopSubs(dict)
    var topSubs = JSON.parse('{{  topSubs  | tojson | safe  }}')
    setupSubPieChart(topSubs)
</script>

{% endblock %}