{% extends 'base.html' %}
{% block title %}
Dashboard
{% endblock %}
{% block head %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
{% endblock %}
{% block body %}
<body>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-12 px-4 mt-0 pt-1">
    <hr>
  
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p> put some stuff here</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upvotes by Subreddit (Click for more information.)</h5>
              <canvas id="upvoteSubreddits"></canvas> 

            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Three</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Comment frequency (Past 90 days)</h5>
              <!-- <canvas id="myChart"></canvas> -->
            </div>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-title d-flex justify-content-center">Word Cloud</h5>
            <div class="card-body">
              
              <div class="row-md pt-5" style="max-width: 100%;">
                <div id="wordCloud"></div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Main Recovery Subreddit</h5>
              <div></div>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Seven</h5>
              <p class="card-text">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
			<h2 class="card-title">User Statistics</h2>
				<hr>
				<h4>Days since user registration:</h4>
				
				<font size="14" face="Courier New" >
				<table>
				<tr>
					<td>{{totalDays}}</td>
				</tr>
				</table>
				</font>
				
				<hr>
				<h4>Number of active days:</h4>
				<font size="14" face="Courier New" >
				<table>
				<tr>
					<td>{{days}}</td>
				</tr>
				</table>
				</font>
				
				<hr>
				<h4>Number of activities per active day:</h4>
				<font size="14" face="Courier New" >
				<table>
				<tr>
					<td>{{post}}</td>
				</tr>
				</table>
				</font>
				
				<hr>
            </div>
          </div>
        </div>
      </div>      
  </main>
  <!-- comment stats section -->
  <div class="d-flex pb-0 mb-0 justify-content-center">
    <h5 class="mb-0"> comment statistics</h5>
  </div>
    <div class="card px-4 m-4 mb-0" style="height: 25em;">
      <div class="card-body">
        <div class="row d-flex justify-content-between">
          <!-- first column -->
          <div class="d-flex flex-column" style="width: 70%;">
            <p class="card-text" >Average Comment Length: &emsp;
              <strong>{{ avgStats[0] }} characters (Median: {{ avgStats[1] }})</strong></p>
              <div class="bar-div" style="max-width: 75%;">
                <canvas id="myChart"></canvas>
              </div>
          </div>
          <!-- second column -->
          <div class="d-flex flex-column" style="width: 30%;">
            <div class="pchart-container" style="max-width: 175px; height: 175px;">
              <canvas class="pchart" id="pieChart1"></canvas>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
{% block scripts %}
<!-- Import javascript functions (should be able to add to existing route)-->

<script type="text/javascript"
         src="{{ url_for('static', filename='jQWCloudv3.4.1.js') }}"></script>
<script type="text/javascript"
         src="{{ url_for('static', filename='dashb.js') }}"></script>


<script type=text/javascript>
    var dict = JSON.parse('{{  jsdict  | tojson | safe  }}')
    setupCommentsDays(dict)
    var topSubs = JSON.parse('{{  topSubs[0]  | tojson | safe  }}')
    setupSubPieChart(topSubs)
    //clearly you dont need to use json. Here I brought the python dict into JS and iterated through its
    //keys and values
    var cloudData = {{  cloudData  | safe  }}
    data = []
    val = 0
    colorVar = ''
    for (const [key, value] of Object.entries(cloudData)) {
      // console.log(key, value);
      val = val + 1
      switch(val%4) {
          case 1:
            colorVar = 'rgba(60, 145, 230, 1)'
            break;
          case 2:
            colorVar = 'rgba(240, 93, 35, 1)'
            break;
          case 3:
            colorVar = 'rgba(52, 46, 55, 1)'
            break;
          case 0:
            colorVar = 'rgba(46, 71, 86, 1)'
            break;
      }
      data.push({word: key, weight: value, color: colorVar})
    }
    makeCloud(data)
</script>

<script>
const canvas = document.getElementById('upvoteSubreddits');
const ctx = canvas.getContext('2d');
const config = {
type: 'bar',
data: {
    labels: [
        {% for item in range(10) %}
            "{{ li[item] }}",
        {% endfor %}
    ],
    datasets: [{
        label: '# of upvoted posts',
        data: [
            {% for item in range(10) %}
                { subnames: '{{ li[item] }}', counts: {{ upvoteCounts[item] }}, links: "/subreddit/{{ li[item] }}"}, // format as 1 dictionary
            {% endfor %}
        ],
        backgroundColor: [
            'rgba(60, 145, 230, 1)',
            'rgba(52, 46, 55, 1)',   
            'rgba(240, 93, 35, 1)',
            'rgba(46, 71, 86, 1)'
        ],
        borderColor: [
            'rgba(60, 145, 230, 1)',
            'rgba(52, 46, 55, 1)',
            'rgba(240, 93, 35, 1)',
            'rgba(46, 71, 86, 1)'
        ],
        borderWidth: 1
    }]
},
options: {
    parsing: {
      xAxisKey: 'subnames',
      yAxisKey: 'counts'
    },
    scales: {
        y: {
            beginAtZero: true
        }
    }
}
};

const upvoteSubreddits= new Chart(ctx,  config);

//Makes barchart clickable
function clickHandler(click){
  const points = upvoteSubreddits.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true);
  if (points.length) {
    const firstPoint = points[0];
    const value = upvoteSubreddits.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
    console.log(value.links)
    window.open(value.links);
  }
}
canvas.onclick = clickHandler;

</script>

{% endblock %}